body {
    width: 1920px;
}

h2,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

.btn {
    color: #E4B564;
    background-color: #353535;
    border: 1px solid #E4B564;
    padding: 10px 25px;
    font-family: 'Gilam', sans-serif;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
}

.communication {
    display: flex;
    justify-content: space-between;
    padding: 46px 0 120px;

}

.infrusture-services {
    background-color: #353535;
    width: 100%;
    padding: 0 230px 192px 230px;
    box-sizing: border-box;
}

.description {
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    width: 1182px;
    margin: 40px 0;
}

.title {
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
}

.grid-container-network {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 468px;
    column-gap: 30px;
    row-gap: 27px;
    width: 100%;
    margin-bottom: 161px;
}

.item1,
.client-1 {
    background-color: #634F2C;
}

.item2 {
    background-color: #B4A385;
}

.item3,
.item-machinery-5,
.client-3 {
    background-color: #E4B564;
}

.item4,
.client-4 {
    background-color: #635A4A;
}

.item5,
.client-5 {
    background-color: #B08C4D;
}

.item-machinery-1,
.item-machinery-6 {
    background-color: #0E0E0E;
}

.item-machinery-3,
.item-machinery-4 {
    background-color: #1F1F1F;
}

.item-machinery-2 {
    background-color: #242424;
}

.item-machinery-7 {
    background-color: #0A0909;
}

.client-2 {
    background-color: #E8D2AB;
}

.item1,
.item2,
.item3 {
    grid-column: span 2;
}

.item4,
.item5 {
    grid-column: span 3;
}

.grid-container-network p,
.grid-container-park-machinery p {
    font-family: 'Gilam', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto 40px;
}

.grid-container-network p {
    justify-content: center;
    text-align: center;
}

.grid-container-park-machinery p {
    text-align: start;
    justify-self: start;
    padding-top: 44px;
    padding-left: 52px;
}

.grid-container-park-machinery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 255px 33px 101px 129px 277px;
    row-gap: 25px;
    column-gap: 30px;
    margin-top: 94px;
}

.item-machinery-1 {
    grid-area: 1/1/3/2;
}

.item-machinery-2 {
    grid-area: 1/2/4/3;
}

.item-machinery-3 {
    grid-area: 1/3/1/4;
}

.item-machinery-6 {
    grid-area: 2/3/5/4;
}

.item-machinery-4 {
    grid-area: 3/1/6/2;
}

.item-machinery-5 {
    grid-area: 4/2/6/3;
}

.item-machinery-7 {
    grid-area: 5/3/6/4;
}

.clients {
    width: 100%;
    box-sizing: border-box;
    background-color: #0E0E0E;
    padding: 172px 230px 239px;

}

.btn-proects {
    padding: 10px 40px;
}

.flex-container-proects {
    display: flex;
    justify-content: space-between;
}

.flex-container-clients {
    display: flex;
    flex-wrap: wrap;
    margin-top: 72px;
}

.flex-container-clients li {
    width: 486px;
    height: 391px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.client-2 p {
    padding: 0 80px;
    font-family: 'Gilam', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #ffffff;
    text-align: center;

}